/**
Student name (author):     Sia Manna
            Hackathon:     
            File name:     style.css
     File discription:     This document serves as the external stylesheet that
                           contains all css code that controls the layout/style
                           of the "EcoTracker" webpage.
         Last Updated:     6/15/24
*/


* {
    box-sizing: border-box;
  }

/*
points to file with downloaded font family (both are open-source fonts).
*/
@font-face {
    font-family: libreBaskerville; /*for title (header1) **/
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: amiri; /*for body text (paragraphs)*/
    src: url(fonts/Amiri-Regular.ttf);
}

body.reg {
    margin: 0;
    padding: 0;
    /*fixed background image (won't scroll)*/
    background-color: #ddfaf7; /* backup to background image */
    background: url("../css/background.jpg") no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
}

body.quiz {
    margin: 0;
    padding: 0;
    /*fixed background image (won't scroll)*/
    /*background: url("../images/background2.jpg") fixed;*/
    background-repeat: repeat-x;

}

table#top {
    position: fixed;
    z-index: 10;
    overflow: hidden;
    top: 0; 
    width: 100%;
    margin-bottom: 4vw; 
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    border-width: 0;
    border-collapse: collapse;
    
}

table#top > tbody > tr#navbar > td {
    position: relative;
    width: 16%;
    margin:0;
    height: 2.7vw;
    border-bottom: 0.001vw solid #000000a3;
    background-color: #ffffffd9; /*white*/
    padding: 0;
    box-shadow: 0 0 0.5vw 0.5vw #0000002f;
}

table#top > tbody, table#top > tbody > tr#navbar {
    position: relative;
    width: 100%;
}

table#top > tbody > tr#navbar > td a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    color: #588157;
    text-align: center;
    text-decoration: none;
    height: 100%;
    line-height: 100%;
    color:rgb(0, 0, 0); /* black */
    font-family: libreBaskerville;
    letter-spacing: 0.15vw;
    word-spacing: 0.2vw;
    font-size: 0.85vw;
    font-weight: 500;
    text-decoration: none;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

table#top > tbody > tr#navbar > td:not(#active) a:hover {
    background-color: #588157; /*translucent white*/
}
table#top > tbody > tr#navbar > td#active a {
    background-color: #85a889; /*translucent white*/
}


table#top > tbody > tr#quizme {
    width: 100%;
    margin:0;
    height: 3vw;
    background-color: #ffffff00; /*transparent*/
    padding: 0;
}

table#top > tbody > tr#quizme > td {
    text-align: center;
}

table#top > tbody > tr#quizme > td > a {
    color: #ffffff; /* black **/
    font-family: Verdana, Sans-serif; 
    letter-spacing: 0.2vw; 
    text-align: center;
    background-color: #0000005e;
    font-size: 0.65vw;
    color: white;
    border-radius: 0.2vw;
    text-decoration: none;
    padding: 0.5vw;
}


table.head5 {
    margin: /*top*/     4vw
            /*right*/   27vw
            /*bottom*/  2.2vw
            /*left*/    27vw;
    border-collapse: collapse;
}
table.head5 > tbody > tr > td {
    color: #000000; /* black **/
    width:15vw;
    font-family: Verdana, Sans-serif; 
    letter-spacing: 0.2vw; 
    text-align: center;
    font-size: 0.68vw;
}

/*
TITLE & SUBTITLE for homepage
*/
#title {
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.127);
    padding: 0.2vw;
    text-align: center;
    background-color: #ffffff77; /*translucent white*/
    border-radius: 1vw; /*rounded edges*/
    margin: /* top */     0px
        /* right */   4%
        /* bottom */  2vw
        /* left */    4%;
}



#title h1, h2 {
    font-family: libreBaskerville;
    font-weight: 500;
}



/* Title: first level of importance */
#title h1 {
    color:#000000; /* black */
    letter-spacing: 0.15vw;
    word-spacing: 0.2vw;
    font-size: 1.7vw;

}

/* Subtitle */
#title h2 {
    color:#000000bb; /* gray */
    font-style: italic;
    letter-spacing: 0.05vw;
    word-spacing: 0.2vw;
    font-size: 0.9vw;
}

/*
HEADINGS:
2nd level of importance
*/
.heading {
color:#000000; /*black*/
font-family: Helvetica, Sans-serif;
letter-spacing: 0.14vw;
word-spacing: 0.18vw;
font-size: 1.2vw;
font-weight: 500;
margin: /*top*/     4vw
        /*right*/   2.5%
        /*bottom*/  1vw
        /*left*/    4.5%;
text-align: left;
}

.laptop {
    width: 18vw;
    float: left;
    padding: 0;
    margin: /*top*/     0
             /*right*/   4vw
             /*bottom*/  1.5vw
             /*left*/    1vw;
}



.antikythera {
    box-shadow: 6px 6px 5px rgb(107, 102, 102);
    width: 30vw;
    float: right;
    padding: 0;
    margin: /*top*/     0.5vw
             /*right*/   0
             /*bottom*/  2vw
             /*left*/    3vw;
}

.antikythera2 {
    box-shadow: 6px 6px 5px rgb(107, 102, 102);
    width: 32vw;
    float: left;
    padding: 0;
    margin: /*top*/     3vw
             /*right*/   3vw
             /*bottom*/  1.5vw
             /*left*/    0;
}

.clearRight {
    clear: right;
}

.clearLeft {
    clear: left;
}

.turDraw {
    box-shadow: 5px 5px 5px rgb(86, 84, 84);
    width: 40%;
    float: left;
    padding: 0;
    margin: /*top*/     0.8vw
             /*right*/   2vw
             /*bottom*/  2vw
             /*left*/    0;
}

.tur {
    box-shadow: 6px 6px 5px rgb(107, 102, 102);
    width: 20%;
    float: right;
    padding: 0;
    margin: /*top*/     1.5vw
             /*right*/   1vw
             /*bottom*/  1.5vw
             /*left*/    3vw;
}

.castle {
    box-shadow: 5px 5px 6px #0000006a;
    width: 30%;
    float: right;
    padding: 0;
    margin: /*top*/     1vw
             /*right*/   1vw
             /*bottom*/  1.5vw
             /*left*/    3vw;
}

.diff {
    box-shadow: 5px 5px 6px #0000006a;
    float: left;
    width: 32vw;
    height: 22.2vw;
    padding: 0;
    margin: /*top*/     0.5vw
            /*right*/   2.5vw
            /*bottom*/  2vw
            /*left*/    0;
}

.paragraph, details {
    color:#000000; /*black*/
    font-family: amiri;
    font-size: 1.1vw;
    line-height: 1.9vw;
    text-align: left;
}

/*
PARAGRAPHS
*/
.paragraph, .paragraph1, #paragraph {
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.127);
    color:rgb(0, 0, 0); /*black*/
    font-family: amiri;
    font-size: 1.1vw;
    line-height: 1.9vw;
    text-align: justify;
    background-color: #ffffff67; /*translucent white*/
    border-radius: 1vw; /*rounded edges*/
    margin: /*top*/     0
    /*right*/   4%
    /*bottom*/  4vw
    /*left*/    4%;

}

#paragraph {
    padding: /*top*/     1vw
             /*right*/   3vw
             /*bottom*/  1.5vw
             /*left*/    3vw;
}

.paragraph {
    padding: /*top*/     1vw
             /*right*/   3vw
             /*bottom*/  3vw
             /*left*/    3vw;
}
.paragraph1 {
    padding: /*top*/     1.5vw
             /*right*/   4vw
             /*bottom*/  1.5vw
             /*left*/    4vw;
}

.paragraph a {
    text-decoration: none;
    color:#6830da;
}
.paragraph a:hover {
    text-decoration: underline;
    color:#b595ff;
}
.paragraph a:visited {
    text-decoration: underline;
    color:#2d2a72;
}

ul {
    list-style-type: none;
}

/*
resources, bottom of page
*/
#workscited {
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.127);
    text-align: left;
    color:#000000; /*black*/
    font-family: amiri;
    font-size: 1vw;
    line-height: 1.9vw;
    padding: 1vw;
    background-color: #ffffff67; /*translucent white*/
    border-radius: 1vw; /*rounded edges*/
    margin: /*top*/     0
            /*right*/   4%
            /*bottom*/  4vw
            /*left*/    4%;
}

#workscited > li {
    padding-left: 1vw;
}

#workscited a {
    font-size: 1.1vw;
    text-decoration: none;
    color:#04ff00;
}
#workscited a:hover {
    text-decoration: underline;
    color:#083602;
}

/*
expands/collapses
*/
details {
    border-radius: 1vw; /*rounded edges*/
    margin-bottom: 4vw;
}

summary {
    user-select: none;
    cursor: pointer;
    background-color: #2c28379a;
    border-radius: 0.5vw;
    color:#ffffffbf; 
    font-family: Helvetica, Sans-serif;
    font-size: 0.7vw;
    font-weight: 500;
    text-align: center;
    margin: /*top*/     1vw
            /*right*/   65vw
            /*bottom*/  0.5vw
            /*left*/    20vw;
}

details summary::before {
    font-family: Helvetica, Sans-serif;
    content:"Expand summary"; 
}

details[open] summary::before {
    font-family: Helvetica, Sans-serif;
    content:"Collapse summary"; 
}

a.hea { 
    box-shadow: 0.5vw 0.3vw 0.3vw #0000002f;
    background-color: #d9d7e459;
    padding: 0.4vw;
    border-radius: 0.5vw;
    color:#000000; /*black*/
    font-family: Helvetica, Sans-serif;
    letter-spacing: 0.14vw;
    word-spacing: 0.18vw;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    margin: /*top*/     0px
            /*right*/   4%
            /*bottom*/  4vw
            /*left*/    20vw;
}
a.hea:hover { 
    background-color: #e5dbf75f;
    cursor: pointer;
}

a.hea:active { 
    background-color: #e5dbf75f;
}
a.hea:visited { 
    background-color: #e5dbf751;
}

a.expand { 
    color:#000000;
    font-size: 0.8vw;
}
a.expand:hover { 
    color:#00000065;
}


.collumn {
    float: left;
    padding: /*top*/     0vw
            /*right*/    0.5vw
            /*bottom*/   0
            /*left*/     0.5vw;
    width: 22vw;
  }

.row {
    position: absolute;
    margin: /*top*/     0vw
            /*right*/   0
            /*bottom*/  1vw
            /*left*/    6vw;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 90%;
}

.sources {
    color:#000000; /*black*/
    font-family: Helvetica, Sans-serif;
    letter-spacing: 0.14vw;
    word-spacing: 0.18vw;
    font-size: 1.2vw;
    font-weight: 500;
    margin: /*top*/     17vw
            /*right*/   4.5%
            /*bottom*/  0
            /*left*/    6vw;
    text-align: left;
}


/*
resources, bottom of page
*/
#source-content {
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.127);
    text-align: left;
    color:#000000; /*black*/
    font-family: amiri;
    font-size: 1vw;
    line-height: 1.9vw;
    padding: 1vw;
    padding-left: 4vw;
    background-color: #ffffff67; /*translucent white*/
    border-radius: 1vw; /*rounded edges*/
    margin: /*top*/     2vw
            /*right*/   4vw
            /*bottom*/  4vw
            /*left*/    4vw
}

#source-content > li {
    padding-left: 1vw;
}

#source-content a {
    font-size: 1.1vw;
    text-decoration: none;
    color:#04ff00;
}
#source-content a:hover {
    text-decoration: underline;
    color:#083602;
}

caption {
    padding: 0;
    margin-left: 0;
}

.testmyknowl {
    font-family: libreBaskerville;
    font-weight: 500;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.127);
    padding: 1vw;
    text-align: center;
    vertical-align: center;
    background-color: #ffffffb6; /*translucent white*/
    border-radius: 0.5vw; /*rounded edges*/
    color:#000000; /* black */
    letter-spacing: 0.15vw;
    word-spacing: 0.2vw;
    font-size: 1.7vw;
    position: absolute;
    text-align: center;
    top: -7.5vw;
    left: -15vw;
    width: 91vw;
    height: 4vw;

    
}

table.questions:not(table.questions > caption) {
    position: relative;
    margin-left: 14%;
    margin-right: 10%;
    width: 76%;
    margin-top: 1vw;
    vertical-align: top;
    border-collapse: collapse;
}

#answers1, #answers2, #answers3, #answers4 {
    padding-left: 3vw;
    padding-top: 1vw;
}

table.questions > tbody > tr > td {
    
    font-size: 1vw;
    text-align: left;
    vertical-align: top;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    padding-right: 2vw;
}

#num {
    font-family: Helvetica, Sans-serif;
    margin-right: 3.7vw;
    
}

td.extra {
    width: 2vw;
}
td.question {
    width: 33vw;
    overflow-wrap: normal;
}
.submit {
    text-align: right;
}
.checkmy {
    padding-top: 0;
}
input.submit1 {
    font-family: Helvetica, Sans-serif;
    font-size: 0.9vw;
    padding: 0.5vw;
    border-radius: 0.3vw;
    border-width: 0;
    box-shadow: 5px 5px 6px #0000006a;
    background-color: #69ad9d81;
}

input.submit1:hover {
    background-color: #82cbba81;
    box-shadow: 4px 4px 7px #00000093;
}