<!DOCTYPE html>

<!--
Student name (author):     Sia Manna
            Hackathon:     
            File name:     weeklychallenges.html
     File discription:     This document contains HTML that formats the
                           structure of the Weekly Challenges.
         Last Updated:     12/15/24
-->


<html lang="en">

<head>
    <title>Weekly Challenges</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css"> <!-- links external css stylesheet --> 
</head>


<body class="reg">

<table class="head5">
    <tr>
        <td>SIA MANNA</td>         <!-- column #1 -->
        <td>HACKATHON</td>         <!-- column #2 -->
        <td>12/15/24</td>          <!-- column #3 --> 
    </tr>
</table> 

<!--
Navigation Bar
-->
<table id="top">
    <tbody>
        <tr id="navbar">
            <td>
                <a href="../index.html">Home</a>
            </td><td>
                <a href="dailychallenges.html">Daily Challenges</a>
            </td><td id="active">
                <a href="weeklychallenges.html">Weekly Challenges</a>
            </td><td>
                <a href="monthlychallenges.html">Monthly Challenges</a>
            </td><td>
                <a href="yearlychallenges.html">Yearly Challenges</a>
            </td><td>
                <a href="sustainabilityjournal.html">Sustainability Journal</a>
            </td>
    </tbody>
</table>

<header id="title">
    <h1>Weekly Challenges</h1>
    <!--subtitle:-->
    <h2>— Your Weekly Green Goals &minus; Consistency for a Sustainable Future! —</h2>
</header> <!-- #header2 -->


    <!-- 2nd paragraph -->
    <div class="paragraph">
        <p>
            Ismail al-Jazari was a Muslim mathematician, mechanical engineer, and scholar born in the 12th century. Considered
            the &quot;father of robotics&quot;, he invented several ground-breaking devices over his lifetime, and accelerated
            the advancement of mechanical technology of his time. His most well-known invention was a redesign of the water clock.
            Based on the previous concept of a Pseudo-Archimedes, Al-Jazari called his device the <em>Castle clock</em>, which
            had the ability to perform various, relatively complex functions.<!-- [3]
                in-text citation
                --><a class="citation" href="https://doi.org/10.1007/978-94-010-2573-7_2" target="_blank"
                    title="Visit doi.org/10.1007/978-94-010-2573-7_2"><sup>[4]</sup></a>
       
        <img class="castle" src="../images/Peles_Castle_clock.jpg" alt="Castle Clock.">
       
            <br><br>
            The Castle Clock is not only visually complex. The clock could perform tasks beyond that of just time-keeping. It
            displayed the orbits of the sun and moon, and had the ability to accept instructions,<!-- [4]
                in-text citation
                --><a class="citation" href="http://eprints.utm.my/id/eprint/60919/1/AminuddinRuskam2014_TheMechanicalEngineer.pdf"
                    target="_blank" title="Open TheMechanicalEngineer PDF"><sup>[5]</sup></a> 
            so that the length of each day could be set in order to adjust for the annual changing of the seasons. The clock sat about
            11 feet high, and displayed the zodiac,lunar, and solar orbits with a pointer traveling along a gateway. The pointer was moved
            by a hidden cart. Another interesting fact about the device is that it featured robotic musicians playing music periodically.
            The timekeeping abilities, which controlled the functioning of all these features, was ultimately determined by a float that 
            lifted or sank in response to a moving water wheel.  
            <br>
        </p>
        <p>
            Because of its ability to take instructions, the Castle Clock is considered to be the very <strong>first programmable analog computer</strong>.
            <br>
        </p>
    </div> <!-- #paragraph -->

<!-- SOURCES Heading -->
<h3 class="heading"> POST YOUR RESPONSE </h3> <!-- #heading -->

<!-- List of Citations -->
<ul id="workscited">

    <li> <!-- citation 3 -->

        [4]&nbsp;&nbsp;&mdash;&nbsp;&nbsp; Al-Jazarī I.R.

        <!-- absolute: links directly to online cited location: -->
            <a href="https://link.springer.com/chapter/10.1007%2F978-94-010-2573-7_2" target="_blank"> &quot;The
            Castle Water Clock&quot;</a>

        <i>Book of Knowledge of Ingenious Mechanical Devices</i>, Springer, Dordrecht, 1974. <br>

    </li>
    <li> <!-- citation 4 -->
        [5]&nbsp;&nbsp;&mdash;&nbsp;&nbsp; The Mechanical Engineer: Abu`l -`Izz Badi`u`z - Zaman ...

        <!-- absolute: links directly to cited pdf: -->
            <a href="http://eprints.utm.my/id/eprint/60919/1/AminuddinRuskam2014_TheMechanicalEngineer.pdf"
            target="_blank"> http://AminuddinRuskam2014_TheMechanicalEngineer.pdf</a>. 
        <br><br>
    </li>
    <li> <!-- citation 2 -->
        Image:&nbsp;&nbsp;
        <!-- absolute: links directly to cited article: -->
            <a href="https://commons.wikimedia.org/wiki/File:Peles_Castle_clock.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Peles_Castle_clock.jpg</a>
        <br>
    </li>

</ul> <!-- #workscited -->

</body> <!-- #body -->

</html> <!-- #html -->

<!-- end of HTML file -->