<!DOCTYPE html>

<!--
Student name (author):     Sia Manna
            Hackathon:     
            File name:     yearlychallenges.html
     File discription:     This document contains HTML that formats the
                           structure of the Yearly Challenges.
         Last Updated:     12/15/24
-->


<html lang="en">

<head>
    <title>Yearly Challenges</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css"> <!-- links external css stylesheet --> 
</head>


<body class="reg">


<table class="head5">
    <tr>
        <td>SIA MANNA</td>         
        <td>HACKATHON</td> 
        <td>6/15/24</td> 
    </tr>
</table> 

<table id="top">
    <tbody>
        <tr id="navbar">
            <td>
                <a href="../index.html">Home</a>
            </td><td>
                <a href="dailychallenges.html">Daily Challenges</a>
            </td><td>
                <a href="weeklychallenges.html">Weekly Challenges</a>
            </td><td>
                <a href="monthlychallenges.html">Monthly Challenges</a>
            </td><td id="active">
                <a href="yearlychallenges.html">Yearly Challenges</a>
            </td><td>
                <a href="sustainabilityjournal.html">Sustainability Journal</a>
            </td>

    </tbody>
</table>

<header id="title">
    <h1>Yearly Challenges</h1>
    <h2>— Create challenges you can stick to every year and celebrate your sustainability —</h2>
</header>

    <div class="paragraph">
        <p>
            Probably the most well-known computer scientist and mathematician, Alan Turing is often given credit for developing the logic behind the very first general-purpose computer.
            It is impossible to overstate his extensive legacy as "the father of computer science", as he formalised the study of algorithm and computation. Numerous things have been
            named after him since his death in 1954, such as the Turing degree, Turing fixed-point combinator, Turing patterns, and the Turing Machine, among many others.
            <br><br>
            Born in 1912 in Maida Vale, London, Alan Turing studied mathematics at Cambridge
            where he published his first groundbreaking proof (now called Turing's Proof), which
            demonstrated that there is no general method which can tell you whether a given formula is provable. In the first part of the proof, the contents consist mostly of Turing
            constructing (in mathematical terms) a theoretical type of computing machine. In the second and third part of his proof, Turing then assumes that there exists a formula that
            can be processed by another machine and whose output can be decided by Turing's computational machine as either infinite or finite. He concludes the proof by showing by
            <i>reductio ad absurdum</i> that no such formula exists. The hypothetical computing machine in his proof became known as the Universal Turing Machine<a class="citation" href="https://books.google.com/books?hl=en&lr=&id=C9WQbm4ovFoC&oi=fnd&pg=PP1&dq=alan+turing&ots=pznMnYENIZ&sig=lK1e-BPK86BlncRHGmlOHJ4sZvo#v=onepage&q=alan%20turing&f=false" target="_blank"
                    title="Visit https://books.google.com">
                    <sup>[10]</sup></a>.<br>
        </p>
        <img class="turDraw" src="../images/turing.jpg" alt="Alan Turing's machine drawing.">
        <p class="clearRight">
            This proof is often called the most influential mathematical paper in history, and included the first descriptions of a universal Turing Machine that could perform operations
            on any mathematical formula, as long as it could be expressed as an inputable algorithm. Today, the term "Turing Machine" refers to the general mathematical model of manipulating
            symbols on a theoretically infinite strip of tape according to a finite set of rules. This laid the groundwork for the study of modern computer algorithms. He most famously developed
            a physical tape-based Turing Machine which he called his "a-machine". This machine operated on tape which was divided into "cells" that contained symbols to be manipulated. The input 
            of the machine was also a strip of tape with cells containing instructions on how to manipulate the symbols on the output tape. As the machine reads a symbol, it then either moves to the 
            left or right cell. What symbols are written, and which direction the machine moves after writing each symbol depends on the instructions and the machine's present state<a class="citation" href="https://link.springer.com/chapter/10.1007/11812128_26" target="_blank"
                    title="Visit https://link.springer.com/chapter/10.1007/11812128_26">
                    <sup>[11]</sup></a>.<br>
        </p>
        <p class="clearLeft">
            If you study computer science or are familiar with the structure of programming languages, you have likely heard the term "Turing completeness". If memory capacity is ignored, a 
            computer's instruction set, system, or language can be described as being Turing complete if it allows the computer to successfully simulate a Turing Machine (i.e. it is hypothetically
            capable of recognising and expressing the computational aspects of any other set, system, or language of instructions). Today, almost every programming language is Turing complete, and
            all real-world modern computers can be theoretically simulated on Turing's tape-based machine.
        </p>
    </div> 

<h3 class="heading"> POST YOUR RESPONSE </h3> 

<ul id="workscited">

    <li> 
        [9]&nbsp;&nbsp;&mdash;&nbsp;&nbsp;Lin, Shen, and Tibor Rado.

            <a href="https://dl.acm.org/doi/pdf/10.1145/321264.321270?casa_token=3ozN_xpzsjYAAAAA:Ncy7wKBPrFqKobUAxoK1GzAlUyaMoOS6EcA3D0VX95F60aknriIgzU-4GrgpS459RWEaUaZgTIGMYQ"
            target="_blank">&quot;Computer Studies of Turing Machine Problems.&quot;</a> <i>Journal of the ACM</i>, vol. 12, no. 2, 1965, pp. 196-212., doi:10.1145/321264.321270. 
        <br>

    </li>
    <li>
        [10]&nbsp;&nbsp;&mdash;&nbsp;&nbsp; Elsevier.

            <a href="https://books.google.com/books?hl=en&lr=&id=C9WQbm4ovFoC&oi=fnd&pg=PP1&dq=alan+turing&ots=pznMnYENIZ&sig=lK1e-BPK86BlncRHGmlOHJ4sZvo#v=onepage&q=alan%20turing&f=false"
            target="_blank"><i>Alan Turing: His Work and Impact.</i></a>

    </li>
    <li>
        [11]&nbsp;&nbsp;&mdash;&nbsp;&nbsp; Onder, Ruhsan, and Zeki Bayram.

            <a href="https://link.springer.com/chapter/10.1007/11812128_26" target="_blank">"XSLT Version 2.0 Is Turing-Complete: A Purely Transformation Based Proof."</a>.
            <i>Implementation and Application of Automata</i>, 2006, pp. 275-276.
        <br><br>
    </li>
    <li> 
        Images:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;(top right)&nbsp;&nbsp;
        <a href="https://www.bbc.com/news/uk-england-dorset-54784018" target="_blank">https://www.bbc.com/news/uk-england-dorset-54784018</a>
        <br>
    </li>
    <li> 
        &nbsp;&nbsp;&nbsp;&nbsp;(left)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://en.wikipedia.org/wiki/Universal_Turing_machine" target="_blank">https://en.wikipedia.org/wiki/Universal_Turing_machine</a>
        <br>
    </li>

</ul> 
</body> 

</html>
